@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');


:root {
  /*change favorite color*/
  --hue-color: 250;
  /* purple 250 - Green 142 - blue 230 - pink 340 */
  /*========== Colors ==========*/
  --first-color: #324C5C;
  --first-color-second: #231942;
  --first-color-second-light: #ded2ff;
  --text-color: #2F4858;
  --text-color2: #343A40;
  --text-color-light: #bbbcc0;
  --text-color-light2: #343A40;
  --body-color: #ECECEC;
  --container-color: #fff;
  --border-color: #6C757D;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  /*========== Font and typography ==========*/
  --body-font: 'Montserrat Alternates', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margins Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: var(--body-font);
  font-weight: var(--font-regular);
  line-height: 1rem;
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
span {
  color: var(--text-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}


ol {
  list-style: none;
}

li {
  display: list-item;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.9rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


/* ========== NAV =========== */

.header {
  background-color: var(--body-color);
  height: 6.2rem;
  width: 100%;
  position: relative;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 6.2rem;
}

.logo {
  width: 15rem;
}

.lang {
  display: flex;
  align-items: center;
  margin: 2rem;
  padding-left: 4rem;
  font-size: 2rem;
}

.lang h3 {
  text-decoration: underline;
  text-transform: capitalize;
}

.lang i {
  font-size: 3rem;
  align-items: center;
  padding-left: 0.5rem;
}

.search {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  margin-left: 50%;
}

.search-icon {
  position: relative;
  top: 0;
  left: 3rem;
  border: none;
}

form {
  display: flex;
  align-items: center;
}

input {
  background-color: var(--body-color);
  width: 20px;
  border-radius: 50rem;
  border: 2px dashed var(--first-color-second);
  cursor: pointer;
  outline: none;
  font-size: 13px;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 1s ease-in-out;
}

input:focus {
  width: 100%;
}

/* ====== MAIN ======= */
.main {
  min-height: 100vh;
  display: flex;
  place-items: center;
  transition: 1s ease-out;
}

.container {
  width: 98%;
  margin: 0 auto;
  height: 60vh;
  position: relative;
  transition: 1s ease-out;
}

.img-car {
  position: relative;
  flex-wrap: initial;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 1s ease-out;
  overflow: hidden;
}

.cars {
  width: 97%;
  height: 100%;
  margin: 0 10%;
  transition: 1s ease-out;
}

.lambo {
  height: 80%;
}

.cars {
  display: none;
}

.show {
  display: block;
  transition: 1s ease-in-out;
}

.price {
  font-size: 3rem;
}

.subtitle {
  font-size: 1.2rem;
  padding-top: 0.4rem;
}

.btn {
  border-radius: 50%;
  outline: none;
  padding: 1.5rem 0.9rem;
  background-color: var(--text-color-light);
  cursor: pointer;
  font-size: 18px;

}

.active,
.btn:hover {
  background-color: var(--first-color-second);
  color: white;
}

.icon-up,
.icon-down {
  font-size: 1.75rem;
  cursor: pointer;
  margin: 0 9rem;
}

.icon-left,
.icon-right {
  display: none;
}

.number {
  text-align: center;
  margin: 3.5rem 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  transition: 1s ease-out;
}

@keyframes fade {
  from {
    opacity: 0.4
  }

  to {
    opacity: 1
  }
}

/* ========== FOOTER =========== */
.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 3px solid var(--border-color);
  background-color: var(--text-color-light);
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5rem;
}

.footer div,
h2,
button {
  margin-top: 1rem;
  color: #000;
}

.footer h2 {
  font-size: 2rem;
}

.footer p {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color2);
}

.model {
  border: none;
  border-bottom: 3px solid var(--border-color);
  border-radius: 0;
}

.model:hover {
  background-color: transparent;
  color: var(--text-color);
  transform: translateX(5%)
}

/* ======= MEDIA QUERY ==========  */

@media screen and (max-width: 350px) {
  .nav {
    margin: 0 auto;
    padding: 0 2rem;
  }

  .logo {
    width: 10rem;
  }

  .lang {
    display: none;
  }

  .search {
    margin-left: 20%;
    margin-top: 1rem;
  }

  .main {
    display: block;
    place-items: center;
    margin: 4rem auto;
  }

  .container {
    margin: 3rem auto;
    position: relative;
  }

  .price {
    font-size: 2rem;
    padding-left: 1.5rem;
  }

  .subtitle {
    font-size: 1.1rem;
    padding-top: 0.4rem;
    padding-left: 3rem;
  }

  .img-car {
    width: 100%;
    height: 100%;
    margin-top: 20%;
    /* background-color: #fff; */
  }

  .cars {
    width: 100%;
    height: 80%;
    margin: auto 10%;
    transition: 1s ease-out;
  }

  .lambo {
    height: 60%;
  }

  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-up,
  .icon-down {
    transform: rotate(-90deg);
  }

  .footer {
    position: absolute;
    width: 100%;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: none;
    background-color: var(--body-color);
  }

  .footer-text {
    gap: 2rem;
  }

  .footer-content {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .footer h2 {
    font-size: 1.5rem;
  }

  .footer p {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .model {
    border-radius: 10rem;
    border-color: transparent;
    outline: none;
    padding: 0.6rem 7rem;
    background-color: var(--first-color-second);
    color: var(--container-color);
    cursor: pointer;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 358px) {
  .nav {
    margin: 0 auto;
    padding: 0 2rem;
  }

  .logo {
    width: 10rem;
  }

  .lang {
    display: none;
  }

  .search {
    margin-left: 30%;
    margin-top: 1rem;
  }

  .main {
    display: block;
    place-items: center;
    margin: 4rem auto;
  }

  .container {
    margin: 3rem auto;
    position: relative;
  }

  .price {
    font-size: 2.5rem;
    padding-left: 1.5rem;
  }

  .subtitle {
    font-size: 1.2rem;
    padding-top: 0.4rem;
    padding-left: 3rem;
  }

  .img-car {
    width: 100%;
    height: 100%;
    margin-top: 20%;
    /* background-color: #fff; */
  }

  .cars {
    width: 100%;
    height: 60%;
    max-width: 120%;
    margin: auto 10%;
    transition: 1s ease-out;
  }

  .lambo {
    height: 60%;
  }

  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-up,
  .icon-down {
    transform: rotate(-90deg);
  }

  .footer {
    position: absolute;
    width: 100%;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: none;
    background-color: var(--body-color);
  }

  .footer-text {
    gap: 2rem;
  }

  .footer-content {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .footer h2 {
    font-size: 1.7rem;
  }

  .footer p {
    font-size: 0.98rem;
    font-weight: 600;
  }

  .model {
    border-radius: 10rem;
    border-color: transparent;
    outline: none;
    padding: 0.6rem 7rem;
    background-color: var(--first-color-second);
    color: var(--container-color);
    cursor: pointer;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 3rem;
  }

  .model i {
    display: none;
  }

  .model:hover {
    background-color: var(--first-color);
  }
}

@media screen and (min-width: 558px) {
  .lang {
    display: flex;
  }

  .search {
    margin-left: 15%;
  }

  .footer {
    top: 110%;
  }
  .img-car {
    width: 100%;
    height: 100%;
    margin-top: 8%;
    /* background-color: #fff; */
  }
}

@media screen and (min-width: 758px) {
  .logo {
    width: 14rem;
  }

  .search {
    margin-left: 16%;
  }

  .price {
    font-size: 3rem;
    padding-left: 1.5rem;
  }

  .subtitle {
    font-size: 1.3rem;
  padding-left: 3rem;
  }

  .img-car {
    width: 100%;
    height: 100%;
    margin-top: 5%;
    /* background-color: #fff; */
  }
}
@media screen and (min-width: 858px) {
 .search {
    margin-left: 29%;
  }

  .img-car {
    width: 100%;
    height: 100%;
    margin-top: 5%;
    /* background-color: #fff; */
  }

  .cars {
    width: 100%;
    height: 100%;
    max-width: 120%;
    margin: auto 10%;
    transition: 1s ease-out;
  }

  .lambo {
    height: 60%;
  }

  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-up,
  .icon-down {
    transform: rotate(-90deg);
  }

  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 3px solid var(--border-color);
    background-color: var(--text-color-light);
  }
  
  .footer-text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
  }
  
  .footer div,
  h2,
  button {
    margin-top: 1rem;
    color: #000;
  }
  
  .footer h2 {
    font-size: 2rem;
  }
  
  .footer p {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color2);
  }
  
  .model {
    border: none;
    border-bottom: 3px solid var(--border-color);
    border-radius: 0;
  }
  
  .model:hover {
    background-color: transparent;
    color: var(--text-color);
    transform: translateX(5%)
  }
  
  /* .footer {
    position: absolute;
    width: 100%;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: none;
    background-color: var(--body-color);
  }

  .footer-text {
    gap: 2rem;
  }

  .footer-content {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .footer h2 {
    font-size: 1.7rem;
  }

  .footer p {
    font-size: 0.98rem;
    font-weight: 600;
  }

  .model {
    border-radius: 10rem;
    border-color: transparent;
    outline: none;
    padding: 0.6rem 7rem;
    background-color: var(--first-color-second);
    color: var(--container-color);
    cursor: pointer;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 3rem;
  }

  .model i {
    display: none;
  }

  .model:hover {
    background-color: var(--first-color);
  } */
  
}
